header{
    position: fixed;
    width: 100%;
    background-color: #0f2245;
    font-size: 11px;
    
    
}

.main h1{
    font-size: 2em;
    position: static;
}

.main p{
    padding: 16px;
    
}

.about-info{
    width: 50vw;
    height: 50vh;
}
.about img{
    height:50vh;
    width: 50vw;
}

.about h2{
    font-size: 30px;
}